<div layout="row" flex>
  <div layout="column" flex id="content">
    <md-content flex class="md-padding">

    <md-content class="md-whiteframe-z5 md-padding">
    
      <md-button class="md-primary" ng-click="toggleRight()">View Other Charts</md-button>
      <h1>{{ pageTitle }}</h1>

      <bar-chart data="barChartData" label="name"></bar-chart>

    </md-content>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" class="md-padding">
            Plenty of space for activities!
        <md-button class="md-primary" ng-click="showDiff()">Show Diff</md-button>
        <md-switch class="md-primary">Switches for stuff</md-switch>

        <br/>
        <md-button ng-click="close()" class="md-primary"> Close </md-button>
        </md-content>
    </md-sidenav>
  </div>
</div>
